<div id="picture">
    <img src="images/profile.png" alt="profile" id="profile">
</div>
<div id="name">
    Tuvshinzaya Erdenekhuu
</div>   
<div class="contact">
    <div>
        <a href="mailto:tuvshinzaya.erdenekhuu@student.manchester.ac.uk">
            <img src="images/outlook.png" alt="outlook icon">
            tuvshinzaya.erdenekhuu@student.manchester.ac.uk  
        </a>
    </div>
    <div>
        <a href="tel:+4407539706390">
            <img src="images/phone.png" alt="phone icon">
            +44 07539706390
        </a>
    </div>
    <div>
        <a href="https://github.com/tuvshinzaya18">
            <img src="images/github.png" alt="github logo">
            https://github.com/tuvshinzaya18    
        </a>
    </div>
</div>
<div class="main_text">
    Hello,<br>
    Welcome to my personal website. I am currently second year student in Computer Science BSc course at University of Manchester.
</div> 