<div id="picture">
    <img src="images/profile.png" alt="profile" id="profile">
</div>
<div id="name">
    Tuvshinzaya Erdenekhuu
</div>
<div class="main_text">
    <p>
        I am born in Mongolia on 18th of September 2002. Fortunately, i had privilige
        of coming to UK and study a course that covers areas i am interested in. Thanks
        to opportunities i got, i was able to find lot of my shortcomings.
    </p>
    <p>
        My "can't live without thing" will be reading interesting books. I found fascinating that
        just by reading, i can explore completely new world from anywhere or acquire knowledge
        that costed other people unimaginable hours to get and process. When it comes to sports, my
        go-tos are hiking, climbing and running. I love hiking because of simple reason that hike gives
        me way to escape from city for a day or two. I got into climbing in april and wants to improve
        it to good enough level for big wall climbs. Running marathon always seemed interesting idea, so
        i got into running to prepare for marathon. ( Hopefully, i will get cool t-shirt from 2022 Manchester
        Marathon ).
    </p> 
    <p>
        Languages i know is: Python, C, C++, Java, ARM assembly and Verilog. I am confident enough in most of them.
        However, languages I like using is C and C++. I think that is because both of them are low level compare to others
        but still high level enough to do complicated things with it. For ARM assembly, I am happy to learnt it because
        knowing it helps me to imagine what is happening under hood when i run programm written in C or other programming
        languages.
    </p>
    <p>
        I am still unsure what kind of career i want. However, i do believe that i will be able to chose career that can have
        meaningful impact on things i care.
    </p>
</div> 